@font-face {
        font-family: "Montserrat Regular";
        src: url("../fonts/montserrat-regular/montserrat-regular.eot"); /* IE9 Compat Modes */
        src: url("../fonts/montserrat-regular/montserrat-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
            url("../fonts/montserrat-regular/montserrat-regular.otf") format("opentype"), /* Open Type Font */
            url("../fonts/montserrat-regular/montserrat-regular.svg") format("svg"), /* Legacy iOS */
            url("../fonts/montserrat-regular/montserrat-regular.ttf") format("truetype"), /* Safari, Android, iOS */
            url("../fonts/montserrat-regular/montserrat-regular.woff") format("woff"), /* Modern Browsers */
            url("../fonts/montserrat-regular/montserrat-regular.woff2") format("woff2"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
    }

