@import 'vars';
@import 'fonts';
@import 'header';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    font-family: 'Montserrat', sans-serif;
            scroll-behavior: smooth;
}

main {
    //background-image: url(../images/backgrounds/Shigeru_background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}


.new-author_col {
// height: 90vh;
text-align: center;
margin-bottom: 30px;
    
    &__title {
        @include font_styles;
        font-size: 50px;
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__painter {
        @include font_styles;
        font-size: 30px;
    }

    &__painting {
        @include font_styles;
        font-size: 20px;
        color: $text_color_2
    }

    &__img-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0 30px;
    }
    
    &__img {
        max-width: 80%;
        aspect-ratio: 16 / 9;
        border: 1px solid transparent;
    }

    &__painter, &__painting, &__title {
        text-align: center;
    }

    &__left-arrow, &__right-arrow path {
        fill: #2C2D35;;
    }

    &__nav-dots {
        display: flex;
        justify-content: center;
        gap: 70px;
    }
    
    &__dot {
        width: 20px;
        height: 20px;
        border: 3px solid #2C2D35;;
    }
    
    &__dot:hover {
        cursor: pointer;
        border: 5px solid #2C2D35;;
    }

}


.hidden {
    display: none;
}

.visible {
    display: block;
}

.color {
    background-color: transparent;
}

@media (max-width:768px) {

    .new-author_col {

        &__title {
            font-size: 40px;
        }
    }

    .slider {
        align-items: center;
        position: relative;

        &__img {
            max-width: 100%;
        }
       
        &__left-arrow-box {
            position: absolute;
            left: 3%;
            border: 3px solid transparent;
            border-radius: 50%;
            background-color: $header_footer_color;
            display: flex;         
        }
    
        &__right-arrow-box {
            position: absolute;
            right: 3%;
            border: 3px solid transparent;
            border-radius: 50%;
            background-color: $header_footer_color;
            display: flex;
        }

        &__right-arrow, &__left-arrow {
            height: 40px;
        }

    }
}

@media (max-width: 460px) {

    .new-author_col {
        height: auto;
        padding-bottom: 30px;

        &__title {
            font-size: 30px;
        }
    }

    .slider {

        &__painter {
            font-size: 20px;
        }
    
        &__painting {
            font-size: 14px;
            color: $text_color_2
        }

        &__img-box {
            margin: 10px 0 10px;
        }

        &__right-arrow-box, &__left-arrow-box {

            border: 5px solid transparent;
            background-color: $header_footer_color;
        }

        &__right-arrow, &__left-arrow {
            height: 30px;
        }

        &__nav-dots {
            gap: 15px;
        }
        
        &__dot {
            width: 12px;
            height: 12px;
            border: 2px solid grey;
        }
    }
}

@media (max-height:500px) {
    .new-author_col {
        height: 750px;
        text-align: center;
    }
}